services:
  - type: web
    name: rotc-django-backend
    env: python
    rootDir: server_django
    plan: free
    buildCommand: "pip install -r requirements.txt && python manage.py migrate"
    startCommand: "daphne -b 0.0.0.0 -p $PORT rotc_backend.asgi:application"
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
