services:
  - type: web
    name: rotc-django-backend
    env: python
    rootDir: server_django
    plan: free
    buildCommand: "pip install -r requirements.txt && apt-get update && apt-get install -y nodejs npm && cd ../client && npm ci && npm run build && cd - && python manage.py migrate && python manage.py collectstatic --noinput"
    startCommand: "gunicorn rotc_backend.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
